/* Form */
#form {
   min-width: 50vw;
}

form {
   background: var(--form-color);
   border: 2px solid var(--secondary-color);
   border-radius: 0.5rem;
   padding: 2rem;
   font-size: 1.2rem;
}

form > div {
   display: grid;
   grid-template-columns: 100px 1fr;
   gap: 1rem;
   margin-top: 1rem;
}

label {
   color: var(--secondery-color);
   text-align: end;
}

input,
textarea,
select {
   border: 2px solid var(--normal-color);
   padding-left: 10px;
}

textarea {
   padding-top: 10px;
}

input:focus,
textarea:focus,
select:focus {
   border: 2px solid var(--focus-color);
}

.error-border {
   border: 2px solid var(--error-color);
}

.valid-border {
   border: 2px solid var(--valid-color);
}

.error-msg {
   display: none;
   text-align: end;
   color: var(--error-color);
   font-size: 0.9rem;
   font-style: italic;
   transition: opacity 0.6s ease;
   opacity: 0;
}

.error-msg.show {
   display: block;
   opacity: 1;
}

.txt-counter {
   text-align: end;
   font-size: 0.9rem;
   font-style: italic;
   color: var(--secondery-color);
}

.txt-counter.under {
   color: var(--error-color);
}

.txt-counter.over {
   color: var(--valid-color);
}

.buttons {
   display: flex;
   justify-content: end;
}

button {
   display: block;
   border-radius: 9999px;
   color: var(--secondary-color);
   font-size: 1.2rem;
   margin-top: 1rem;
   padding: 0.3rem 1.5rem;
   transition: all 0.3s ease;
   cursor: pointer;
}

button:hover {
   scale: 1.1;
}
